.main_container{
    display: block;
    justify-content: center;
}



#container1{
    display: flex;
    justify-content: flex-start;
}

#container2{
    display: flex;
    justify-content: flex-end;
}